<div class="container">
  <h1>jQuery UI autocomplete for Bootstrap</h1>
  <p>Demo version with local data.</p>
  <div class="row">
    <div class="col-xs-7">
      <div class="form-group">
        <label for="ac-demo" class="control-label">Autocomplete demo</label>
        <input class="form-control bs-autocomplete" id="ac-demo" value="" placeholder="Type two characters of a city name..." type="text" data-source="demo_source.php" data-hidden_field_id="city-code" data-item_id="id" data-item_label="cityName" autocomplete="off">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label for="city-code" class="control-label">“Hidden” field</label>
        <input class="form-control" id="city-code" name="citycode" value="" type="number" readonly>
        <span class="help-block">This field should be hidden!</span>
      </div>
    </div>
  </div>
  <p>Spinner icon from <a href="https://projects.lukehaas.me/css-loaders">https://projects.lukehaas.me/css-loaders</a>/</p>
  <p>Remote source version: <a href="https://github.com/massimo-cassandro/jQueryUI-autocomplete-bootstrap">https://github.com/massimo-cassandro/jQueryUI-autocomplete-bootstrap</a></p>
</div>