<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	 layout:decorator="template">

<body>

	
	<div layout:fragment="content" aria-labelledby="emailsuccess">
		<div id="success" class="container-fluid">
			<div class="row nopadding">
				<div class="col-sm-12 col-md-12 col-xs-12 text-left">
					<h2 class="word-wrap" th:text="${ emailResponse }"></h2>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/collection.js}"></script>
	</div>
	




</body>

</html>


