<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	layout:decorator="template">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div class="col-sm-12" aria-labelledby="collInfoManagement"
		layout:fragment="content">
		<div id="readOnlyData">
			<div class="row">
				<th:block th:include="collections/summary :: readOnlySummaryView"></th:block>
			</div>

			<div class="col-xs-12 tree-view-panel box">
				<div class="tabpanel">
					<ul id="tabs" class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#details" data-toggle="tab"
							role="tab"> <span><i class="fa fa-info-circle"
									alt="File Info"></i></span> <span title="collection information">Details</span>
						</a></li>

						<li><a href="#metadata" data-toggle="tab" role="tab"> <span><i
									class="fa fa-tags"></i></span> <span title="Collection Metadata">Metadata</span>
						</a></li>
					</ul>
					<div class="tab-content"
						style="border: 1px solid #ddd; background-color: #fff; padding-top: 15px;">
						<div id="details" class="tab-pane active" role="tabpanel">
							<th:block th:include="collections/details :: detailsView"></th:block>
						</div>
						<div id="metadata" class="tab-pane" role="tabpanel">
							<th:block
								th:include="metadata/readOnlyMetadata :: readOnlyMetadata"></th:block>
						</div>

					</div>
				</div>
			</div>





			<script th:inline="javascript">
				$(document).ready(function(e) {

					$('.nav-tabs a').click(function(e) {
						e.preventDefault();
						e.stopImmediatePropagation();
						$(this).tab('show');

					});

				});
			</script>
		</div>

		<div id="emailResponse" class="row hideElement">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-xs-12 text-left">
					<h2 class="word-wrap" id="responseTxt"></h2>
				</div>
			</div>
		</div>

		<script type="text/javascript" th:src="@{/js/collection.js}"></script>

	</div>
</body>

</html>