<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" lang="en">

<div class="nano-content" th:fragment="SummarySidenavView">

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-10">
			<button id="close-sidecanvas" type="button"
				class="closeCanvasbtn pull-right" title="Close">
				<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
			</button>
		</div>
	</div>

	<div th:if="${dataProfile == null}">No result Found!!</div>

	<div th:unless="${dataProfile == null}">

		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-4">
				<a href="#"><i th:class="${ icon.getMimeIcon() }"></i></a>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-6">
				<span class="thick word-wrap"
					th:text="${ dataProfile.getChildName() }"></span>
			</div>
		</div>

		<div class="row canvasMimetype">
			<div class="col-md-12 col-sm-12 col-xs-10">
				<div class="mime-icon">
					<a href="#" class="fas-icon"><i
						th:class="${ icon.getMimeIcon() }"></i></a>
				</div>
				<div class="mime-info">
					<div class="mime-desc">
						<i><span class="mime-object" th:text="${ dataProfile.dataType.mimeType }"></span></i>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-4">
				<span><i class="fa fa-share-alt" alt="File Info"></i></span>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-8">
				<h4 class=" thicker" th:text="#{collections.management.shareditems}"></h4>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<span class="thick" th:text="#{collections.management.shared.with}"></span>
			</div>
			
		</div>


		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-2">
				<span><i class="fa fa-info-circle" alt="Collection Info"></i></span>
			</div>
			<div class="col-md-10 col-sm-10 col-xs-10 thicker">
				<h4 th:unless="${dataProfile.file}"
					th:text="#{collections.management.folder.information}"></h4>
				<h4 th:if="${dataProfile.file}"
					th:text="#{collections.management.file.information}"></h4>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-10">
			<div class="ticker">
				<label th:text="#{collections.management.table.owner.label}"></label>
			</div>
			<div>
				<span th:unless="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getCollectionOwnerName() }"></span>
				<span th:if="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getDataOwnerName() }"></span>
			</div>
		</div>


		<div class="col-md-12 col-sm-12 col-xs-10">
			<div class="ticker">
				<label th:text="#{collections.management.table.created.label}"></label>
			</div>
			<div>
				<span th:unless="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getCreatedAt() }"></span>
				<span th:if="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getCreatedAt() }"></span>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-10">
			<div class="ticker">
				<label th:text="#{collections.management.table.modified.label}"></label>
			</div>
			<div>
				<span th:unless="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getModifiedAt() }"></span>
				<span th:if="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getUpdatedAt() }"></span>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-10">
			<div class="thick">
				<label th:text="#{collections.management.table.size.label}"></label>
			</div>
			<div>
				<span th:unless="${dataProfile.file}"> - </span> <span
					th:if="${dataProfile.file}"
					th:text="${ dataProfile.getDomainObject().getDisplayDataSize() }"></span>
			</div>
		</div>

		<div class="col-md-12 col-sm-12 col-xs-10">
			<div class="thick">
				<label th:text="#{collections.management.location}"></label>
			</div>
			<div>
				<span th:text="${ dataProfile.getParentPath() }"></span>
			</div>
		</div>


	</div>


	<script type="text/javascript" th:src="@{/js/canvasMenu.js}"></script>
</div>
</html>

