
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="jumbotron">
					<span th:text="#{about.modal}">This software contains the
						intellectual property of EMC Corporation or is licensed to DELL
						EMC Corporation from third parties. Use of this software and the
						intellectual property contained therein is expressly limited to
						the terms and conditions of the License Agreement under which it
						is provided by or on behalf of EMC.</span>
				</div>
			</div>
			<div>
				<table class="table table-striped">
					<tbody>
						<tr>
							<td th:text="#{about.metalnx.version}">Metalnx Version</td>
							<td th:text="${emcmetalnxVersion.VERSION}"></td>
						</tr>
						<tr>
							<td th:text="#{about.metalnx.build.time}">Metalnx Build Time</td>
							<td th:text="${emcmetalnxVersion.BUILD_TIME}"></td>
						</tr>
						<tr>
							<td th:text="#{about.metalnx.jargon.version}">Jargon Version</td>
							<td th:text="${jargonVersion.VERSION}"></td>
						</tr>
						<tr>
							<td th:text="#{about.metalnx.jargon.build.time}">Jargon
								Build Time</td>
							<td th:text="${jargonVersion.BUILD_TIME}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
