<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	layout:decorator="template">
<body>
	<div class="navbar-collapse" th:fragment="topnav">

		<div class="datacommons_title">

			
                        <div class="datacommons_title-left">
                                <span id="headerContent"></span> <a href="#"
                                        class="datacommons_title-icon" id="headerContentIcon"><img  alt="Metalnx Logo" src="../static/images/logo.svg"
                                th:src="@{/images/logo.svg}" /></a>
                        </div>
			<div class="datacommons_title-mid">
				<div class="datacommons_title-breadcrumb"></div>
				<!-- <div class="pull-left page-header">
					<h1 class="pull-left" th:text="#{ ${ topnavHeader.getName() } }"
						th:data-content="#{ ${ topnavHeader.getHint() } }"></h1>
					<a aria-label="page help" href="#" id="page-title"
						class="page-hint pull-left"><i class="fa fa-question-circle"></i></a>
				</div> -->
			</div>
			<div class="datacommons_title-right">
				<ul class="datacommons_title-usermenu">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"> <i class="fa fa-user"></i> <span
							class="navbar-top-links-text"
							th:text="${userDetails.getUsername()}"></span> &nbsp; <i
							class="fa fa-caret-down white-icon"></i>
					</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#" data-toggle="modal"
								data-target="#aboutModal"><i class="fa fa-info-circle"></i>
									<span>About</span></a></li>
							<li class="divider"></li>
							<li><a th:href="@{/logout/}"><i class="fa fa-sign-out"></i>
									<span th:text="#{user.logout.label}"></span></a></li>
						</ul> <!-- /.dropdown-user --></li>
					<!-- /.dropdown -->
				</ul>
			</div>
		</div>
	</div>
	<!-- /.navbar-top-links -->

	<!-- Upload notifications panel 
				
				<a  href="/metalnx/notification/"><i class="fa fa-bell" aria-hidden="true"></i></a>
			</div>
		</div>-->

	<script type="text/javascript">
		$(document).ready(function() {
	
			var url = window.location.href;
			var altUrl = url.replace('?', '/')
	
			//console.log(url); 
			//console.log(altUrl);
			var urlArray = altUrl.split("/", 5)
			var header = urlArray[(urlArray.length) - 1];
			console.log("header :: " + header);
			url.split("metalnx");
	
			if (header == "dashboard") {
				$("#headerContent").text("Dashboard").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-tachometer');
			}
	
			if (header == "resources") {
				$("#headerContent").text("Resources").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-database');
			}
	
			if (header == "rules") {
				$("#headerContent").text("Rules").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-file-text');
			}
			if (header == "users") {
				$("#headerContent").text("Users").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-user');
			}
	
			if (header == "groups") {
				$("#headerContent").text("Groups").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-group');
			}
	
			if (header == "collections" || header == "collectionInfo") {
				$("#headerContent").text("Collections").addClass("page-header");
				;
				$("#headerContentIcon").addClass('fa fa-folder');
			}
	
			if (header == "search" || header == "metadata") {
				$("#headerContent").text("Search").addClass("page-header");
				;
				$("#headerContentIcon").addClass('fa fa-search');
			}
	
			if (header == "public") {
				$("#headerContent").text("Public").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-globe');
			}
	
			if (header == "trash") {
				$("#headerContent").text("Trash").addClass("page-header");
				$("#headerContentIcon").addClass('fa fa-trash');
			}
	
	
	
	
		});
	
		function capitalize(string) {
			return string.charAt(0).toUpperCase() + string.slice(1);
		}
	</script>

</body>
</html>
