**/bin
target/
.settings/
.project/
.classpath/
*.class
*.log
.project
.classpath
.cproject
*.iml
.idea
*.war
.DS_Store
.dbeaver*
test*.properties
Scripts/
/.metadata/
**/packaging/src
**/*.bak
test*.properties
target
bower_components
node
node_modules
dist
package-lock.json 
