<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


	<!-- What follows is an example maven settings.xml profile for jargon testing.
         This is picked up by the jargon POM file and used to generate a testing.properties
         file in the Java test resources directory. -->


	<profiles>
        <profile>
            <id>flyway-local</id>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>flyway-local</activeProfile>
    </activeProfiles>

</settings>
