<?xml version="1.0" encoding="UTF-8"?>

<!-- This settings.xml file is meant to be loaded into the jargon build/test docker container
as the operative profile to be used in building and testing jargon against a chosen docker test framework. -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<profiles>    


    <profile>
			<id>flyway-docker</id>
		</profile>
		
    </profiles>

	<activeProfiles>
		<activeProfile>flyway-docker</activeProfile>
	</activeProfiles>

</settings>

