.panel-footer {
	background: none;
	border-top: none;
}

/****************************************** CHARTS ************************************************/
#serverAndSystemHealthSection{
	margin: 0;
}

#serversListPanel .row{
	margin: 0;
	padding: 0;
}

#diskSection div .arc {
    stroke-weight: 0.1;
    fill: #1d871b;
}


.selectedRadial {
    border-radius: 3px;
    background: #f4f4f4;
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    border: 1px solid rgba(200,200,200,0.85);
}

.radial {
    border-radius: 3px;
    background: #FFFFFF;
    color: #000;

}

.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;
}

.component .label {
    text-anchor: middle;
    fill: #333;
    color: inherit;
    font-weight: normal;
}

.arc {
    stroke-weight:0.1;
    fill: #4e8fff;
}


.arc2 {
    stroke-weight:0.1;
    fill: #3660b0;
}


.label {
    text-anchor: middle;
    font-size: inherit;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}