body{
    height: 100vh;
    margin:0;
    overflow: hidden;
    background-color: #51514c;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#7f7f7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    ::-webkit-input-placeholder {
        color: #4E546D
    }
}

/*p{
    color: #333333;
    font-size:10px;
    text-align:left;
}*/

/*.login{
    font-size: 14px;
    opacity:1;
    top:15px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, .85);
    transition-property:transform,opacity,box-shadow,top,left;
    transition-duration:.5s;
    transform-origin:161px 100%;
    transform:rotateX(0deg);
    position:relative;
    width:360px;
    border-top: 2px solid #6c6c63;
    height:350px;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top:0;
    bottom:0;
    padding:20px 20px 20px 20px;
    background: #ffffff; /* Old browsers
    border-radius: 20px;
}*/

/*.login_title {
    color:#0b3e73;
    text-align:left;
    font-size:20px;
    padding-bottom: 40px;
}

.login_fields {
    height: 208px;
    position: absolute;
    left: 0;
    right: 0;
}*/

/*input[type='password'] {
}

input[type="submit"] {
    border-radius:50px;
    background: #0b3e73;
}

input[type="submit"]:hover {
    color:white;
    background:#0b3e73 ;
    cursor:pointer;
    transition-property:background,color;
    transition-duration:.2s;
}

input[type="submit"]:focus{
    box-shadow:none;
    outline:none;
    background-color: #0b3e73;
}

input[type='text'],input[type='password']{
    width: 100%;
    color: #333333;
    margin-top:-2px;
    left: 0;
    right: 0;
    padding: 10px 40px;
    border-top: 2px solid rgb(57, 61, 82);
    border-bottom: 2px solid rgb(57, 61, 82);
    border-right: none;
    border-left: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-family: verdana, sans-serif;
    padding-left: 55px;
} */

.login_fields_user, .login_fields_password{
    position:relative;
}

.login_fields_submit{
    position: relative;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 40px;
}

.login_fields_submit input {
    padding: 10px 50px;
    font-size: 16px;
}

/*input{
    background:transparent;
    font-family: verdana, sans-serif;
    padding:10px 50px;
    border:2px solid #f7f5f7 ;
    color: #ffffff ;
    background-color: f7f5f7;
    transition-property:background,color;
    transition-duration:.2s;
}*/

.login_msgs {
    /*bottom: 60px;*/
    color: #287EA1;
}

.login_msgs, .login_copyright {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 40px;
}

.login_copyright {
    bottom: 0;
}

.login_copyright span {
    font-size: 10px;
    color: #6c6c63;
}

.icon{
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 15px;
    opacity:1;
    font-size: 16px;
}

.icon-input-check {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
    opacity:1;
    color: #6c6c63;
    font-size: 16px;
 }

img {
    width: 85%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #6c6c63;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #6c6c63;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #6c6c63;
}
:-moz-placeholder { /* Firefox 18- */
  color: #6c6c63;
}

#haveTicketBtn, #login-link {
    margin-left: 50px;
    font-size: 16px;
}

#haveTicketBtn {
    margin-left: 50px;
}

#login-link {
    margin-left: 99px;
}


.login-form .body{
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}

.form {
    margin: 0 0 20px;
}

.login-form legend {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}

.login-form .footer {
    margin-top: 20px;
}

.login-form label {
    /*font-family: 'Lato', Helvetica, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #333333;
    font-weight: 300;
    display: block;
    margin-bottom: 5px;
}

.login-form .footer .btn {
  box-shadow: none;
  margin-left: 15px;
  padding: 7px 25px;
  background-image: none;
}

#login-wrapper {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -185px;
    margin-left: -235px;
    padding: 25px;
    width: 520px;
    height: 500px;
    background: white;
    text-align: center;
}

.login-form .footer .checkbox.inline {
    display: inline;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
    float: none;
    margin-top: -4px;
}
.blue {
    color: #287EA1;
}

input[type="text"], input[type="password"]{
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
}

input, textarea, .uneditable-input {
    width: 206px;
}

#authScheme {
    width: 206px;
    display: inline-block;
}

.login-form .footer .checkbox.inline input[type="checkbox"] {
    float: none;
    margin-top: -4px;
    position: relative;
}

input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
