Package: emc-metalnx-webapp
Version: {{VERSION-NUMBER}}-{{BUILD-NUMBER}}
Section: misc
Priority: optional
Architecture: all
Maintainer: Arthur Guerra <arthur.guerras@emc.com>
Description: EMC MetaLnx Web Application
