<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015-2017, Dell EMC
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:META-INF/emc-metalnx-ui-admin/emc-metalnx-ui-admin-context.xml" />

     <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>

              <!-- <value>file:/etc/irods-ext/metalnx.properties</value> -->
			   <value>file:///C:/Users/hetalben/opt/etc/irods-ext/metalnx.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

 <!-- this resource must be in the /etc/irods-ext directory, see the CONFIGURATION.md doc at the top of the repo,
It allows theming and custom messages -->

	<!-- <import resource="file:/etc/irods-ext/metalnxConfig.xml" /> -->
	<import resource="file:///C:/Users/hetalben/opt/etc/irods-ext/metalnxConfig.xml" />

	<!-- **************************************************************** -->
	<!-- SPRING SECURITY-SPECIFIC ARTIFACTS -->
	<!-- AuthenticationProvider -->
	<!-- **************************************************************** -->

	<bean id="customAuthenticationProvider" class="com.emc.metalnx.services.auth.IRODSAuthenticationProvider">
		<property name="irodsHost" value="${irods.host}"/>
		<property name="irodsPort" value="${irods.port}"/>
		<property name="irodsZoneName" value="${irods.zoneName}"/>
	</bean>

	<bean id="customAuthenticationSuccessHandler" class="com.emc.metalnx.handler.DataGridAuthenticationSuccessHandler" />
	<bean id="customAuthenticationFailureHandler" class="com.emc.metalnx.handler.DataGridAuthenticationFailureHandler" />
	<bean id="logoutHandler" class="com.emc.metalnx.services.auth.IRODSLogoutSuccessHandler" />

	<!-- Instead of redirecting the user to the login page when he tries to access a page
		 with an expired session id, we return an error (403). By doing that, all ajax calls
		 will be able to handle forbidden access to any page.
	 -->
	<bean id="ep403" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

	<sec:http auto-config="true" create-session="always" entry-point-ref="ep403" >

		<!-- Login pages -->
		<sec:intercept-url pattern="/login/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Static Resources -->
		<sec:intercept-url pattern="/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/fonts/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/js/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/httpError/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />

		<!-- Others -->
		<sec:intercept-url pattern="/users/query/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/groups/query/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/dashboard/**" access="ROLE_ADMIN" />
		<sec:intercept-url pattern="/collections/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/fileOperation/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/upload/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/metadata/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/fileproperty/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/templates/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/preferences/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/groupBookmarks/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/userBookmarks/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/permissions/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/favorites/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/tickets/**" access="ROLE_ADMIN,ROLE_USER" />
		<sec:intercept-url pattern="/ticketclient/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/**" access="ROLE_ADMIN" />

		<sec:form-login
			login-processing-url="/login/authenticate/"
			authentication-failure-url="/login/exception"
			authentication-success-handler-ref="customAuthenticationSuccessHandler"
			authentication-failure-handler-ref="customAuthenticationFailureHandler"
			default-target-url="/dashboard/"
			login-page="/login/"
			password-parameter="password"
			username-parameter="username"
		/>

		<sec:logout
			logout-url="/logout/"
			success-handler-ref="logoutHandler"
		/>

		<sec:session-management invalid-session-url="/login/invalidSession/"/>

	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider ref="customAuthenticationProvider" />
	</sec:authentication-manager>

	<!-- **************************************************************** -->
	<!-- Thyemleaf Configuration -->
	<!-- **************************************************************** -->

	<bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="classpath:views/" />
		<property name="suffix" value=".html" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateMode" value="HTML5" />
		<property name="cacheable" value="false" />
	</bean>

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
		<property name="additionalDialects">
			<set>
				<bean class="nz.net.ultraq.thymeleaf.LayoutDialect" />
			</set>
		</property>
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="order" value="1" />
	</bean>

	<!-- **************************************************************** -->
	<!-- I18N Configuration -->
	<!-- **************************************************************** -->

	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en" />
	</bean>

	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="language" />
	</bean>


	<!-- MVC Interceptors -->
	<mvc:interceptors>
		<bean class="com.emc.metalnx.interceptors.HttpResponseHandlerInterceptor" autowire="constructor" />
	    <bean id="webContentInterceptor" class="org.springframework.web.servlet.mvc.WebContentInterceptor">
			<property name="cacheSeconds" value="0"/>
			<property name="useExpiresHeader" value="true"/>
			<property name="useCacheControlHeader" value="true"/>
			<property name="useCacheControlNoStore" value="true"/>
		</bean>
	</mvc:interceptors>

	<!-- **************************************************************** -->
	<!-- Files Upload Configuration -->
	<!-- **************************************************************** -->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

</beans>
