TOMCAT_HOME_DIR=test
TOMCAT_WEBAPPS_DIR=test
TOMCAT_CONF_DIR=test
CREATE_NEW_SETUP=yes
IRODS_HOST=test
IRODS_PORT=test
IRODS_ZONE=test
IRODS_AUTH_SCHEME=test
IRODS_USER=test
DB_TYPE=postgresql
DB_HOST=test
DB_PORT=1234
DB_NAME=test
DB_USER=test
HTTPS_ENABLED=yes
KEYSTORE_PATH=/dev/null