#dragAndDrop {
	display:none;
}

#dropArea.has-advanced-upload {
	background-color: grey;
	outline: 2px dashed black;
	outline-offset: -10px;
}

#dropArea.is-dragover {
	background-color: white;
}

#uploadModal.has-advanced-upload #advancedUploadMessage {
	display: inline;
}
