* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
}

@font-face {
	font-family: websiteFont;
	src: url("../fonts/Lato-Regular.ttf");
}

html {
	overflow: auto;
}

body {
	background-color: #f8f8f8;
	font-family: websiteFont;
	color: #333;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	opacity: 1 !important;
	border-color: lightgray;
	color: lightgray;
}

.btn.disabled>i, .btn[disabled]>i, fieldset[disabled] .btn>i {
	opacity: 0.45 !important;
}

#uploadStatusIcon .fa.fa-tasks.white-icon {
	font-size: 1.0em;
}

#uploadStatusIcon .badge {
	left: -10px;
	top: -8px;
	font-size: 1.0em;
	padding: 3px 3px;
	position: relative;
}

#uploadStatusIcon .badge.danger {
	background-color: #ce4844;
}

#uploadStatusIcon .badge.warning {
	background-color: #e59307;
}

#uploadStatusIcon .badge.success {
	background-color: #429742;
}

#uploadStatusIcon p.text-warning {
	color: #e59307;
}

#uploadStatusIcon p.text-success {
	color: #429742;
}

#wrapper {
	opacity: 1;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, .85);
	transition-property: transform, opacity, box-shadow, top, left;
	transition-duration: .5s;
	transform-origin: 161px 100%;
	background: #35394a; /* Old browsers */
	background: -moz-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a),
		color-stop(100%, #1f222e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
	/* IE10+ */
	background: linear-gradient(45deg, #35394a 0%, #1f222e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35394a',
		endColorstr='#1f222e', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

#wrapper nav.navbar {
	border-width: 0px;
}

.panel-primary {
	border-color: #046383;
}

.panel-primary .panel-heading {
	border-color: #046383;
	background-color: #046383;
}

.panel-success {
	border-color: #5CB85C;
}

.panel-success .panel-heading {
	border-color: #5CB85C;
	background-color: #5CB85C;
	color: #ffffff;
}

.panel-warning .panel-heading {
	border-color: #FECC66;
	background-color: #FECC66;
	color: #ffffff;
}

.panel-error {
	border-color: #CC6666;
}

.panel-error .panel-heading {
	background-color: #CC6666;
	color: #ffffff;
}

.gray-bg {
	background-color: #f8f8f8;
}

.white-bg {
	background-color: #ffffff;
}

.panel-footer i {
	color: #FECC66;
	font-size: 2em;
}

.templates i {
	/* color: #ffffff; */
	font-size: inherit;
}

table {
	table-layout: fixed;
}

table td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tableCheckBoxCol {
	width: 30px;
}

.searchFieldsDescription {
	white-space: normal;
	word-wrap: break-word;
}
#templatesToBeRemoved {
	max-height: 250px;
	overflow-y: auto;
}

.recursiveCheckbox {
	margin-left: 5px;
}

.tooltip {
	opacity: 1;
}

/********************** Junction Header bootstrap overrides ***************************************/
#searchform .btn {
	padding: 0;
	font-size: 11px;
	border-radius: 0;
}

#sitesearch {
	font-size: 1.7em;
	box-sizing: content-box;
}

#hdr-niehstitle {
	box-sizing: content-box;
}

.modal-content {
	font-size: 1.5rem;
}

#deleteConfirmationModal .modal-content {
	background-color: #51A351;
	color: #ffffff;
}

.modal-content .modal-title {
	color: #fff;
}

.pagination>.active>a {
	background-color: #046383;
	border-color: #046383;
}

.dashboard-page-title {
	color: #046383;
}

footer.row {
	background-color: #363633;
	margin: 0;
}
/**************************************** Tooltips ***********************************************/
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-color: #238cd5;
	border-width: 5px 5px 0;
}

.tooltip-inner {
	color: #238cd5;
	background: #fff;
	border: solid 1px #238cd5;
	min-width: auto;
	opacity: 1;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-left-color: #238cd5;
	border-width: 5px 0 5px 5px;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-right-color: #238cd5;
	border-width: 5px 5px 5px 0;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-color: #238cd5;
	border-width: 0 5px 5px;
}

/**************************************** Metadata ***********************************************/
.totalMatchesTag {
	margin: 0;
	padding: 0 2px 0 0;
}

/**************************************** Dashboard ***********************************************/
.progress-bar-success {
	background-color: #046383;
	border: 1px solid #eeeeee;
	border-radius: 4px;
}

.progress {
	background-color: #f9f9f9;
	border: 1px solid #eeeeee;
}

.serverIcon {
	float: left;
	padding: 0;
	padding-left: 1%;
	padding-right: 2%;
}

#storageChart .arc {
	fill: #046383;
}

#numberOfFilesDiv {
	text-align: right;
}

#uploadStatusIcon .progress {
	height: 24px;
	margin-bottom: 10px;
}

/************************************* Collection Management **************************************/
#inputFiles {
	display: none;
}

.pagination {
	margin: 0;
}

#goToPageInput {
	padding: 5px;
	width: 50px;
}

#paginationCsvControl {
	margin-bottom: 8px;
}

h3.collection-details {
	margin-top: 0;
	padding-bottom: 10px;
}
/**************************************** Switch Button *******************************************/
.switch {
	display: inline-block;
	position: relative;
	border-radius: 3px;
	height: 26px;
	width: 120px;
	background: rgba(0, 0, 0, 0.25);
	bottom: 0;
	margin-top: 12px;
}

.switch-label {
	position: relative;
	z-index: 2;
	float: left;
	width: 58px;
	line-height: 26px;
	font-size: 1em;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.switch label {
	font-weight: normal;
}

.switch-label-off {
	padding-left: 2px;
}

.switch-input {
	display: none;
}

.switch-input:checked+.switch-label {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.65);
	-webkit-transition: 0.15s ease-out;
	-moz-transition: 0.15s ease-out;
	-o-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
}

.switch-input:checked+.switch-label-on ~ .switch-selection {
	left: 60px;
}

.switch-selection {
	display: block;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 58px;
	height: 22px;
	background: #ffffff;
	border-radius: 3px;
	-webkit-transition: left 0.15s ease-out;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	transition: left 0.15s ease-out;
}

/************************************* Server Details *********************************************/
.list #resourcesByServerList ul a {
	text-decoration: none;
	color: inherit;
}

.list ul li:hover, .list ul li:active {
	background-color: #f8f8f8;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
}

.list ul li {
	list-style-type: none;
}

.list ul li i {
	float: right;
}

.list div {
	background-color: #ffffff;
	margin: 0;
	/* padding: 3%;
	width: 100%; */
}

#partitionsList svg {
	margin: 0;
	padding: 0;
	padding-top: 5%;
	height: 180px;
}

.list ul {
	margin: 0;
	padding: 0;
}

.list ul li {
	border-bottom: 1px solid #e7e7e7;
	padding: 2% 2% 6% 2%;
	margin: 0;
	list-style: none;
}

.list ul li img {
	float: left;
	padding: 0;
	padding-right: 1%;
}

.list ul li p {
	padding-top: 5px;
}

.bookmarksList i {
	color: #046383;
}
/************************************* Resources By Server ****************************************/
#resourcesByServerList img:first-child {
	padding-bottom: 0%;
	width: 44px;
}

#resourcesByServerList {
	/* border: 1px solid #e7e7e7;
	border-radius: 4px; */
	margin-bottom: 10%;
	background-color: #fff;
}

#resourcesByServerList .resourcesTableWrapper {
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px;
	margin: 20px 0;
	overflow: auto;
	height: 160px;
}

#resourcesByServerList .resourcesTableWrapper table {
	table-layout: auto;
}

#resourcesByServerList .resourcesTableWrapper table tbody tr td {
	border-top: 1px dotted #ccc;
	line-height: 2.5em;
}

#resourcesByServerList .resourcesTableWrapper table thead tr th {
	line-height: 2.5em;
}

#resourcesByServerList .resourcesTableWrapper table>tbody>tr>td:nth-child(3)
	{
	width: 1%;
	padding-right: 20px;
}

#resourcesByServerList .resourcesTableWrapper table>tbody>tr span,
	#resourcesByServerList .resourcesTableWrapper table>thead>tr>th span {
	padding: 5px 5px 5px 20px;
}

/********************************** User form - Permissions ***************************************/
.inheritance-checked {
	color: #046383;
}

/**********************************   RESOURCE MAP CSS  *******************************************/
.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}

.node, .link {
	cursor: pointer;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

#resourceMapPanel {
	max-width: 100%;
	max-height: 50em;
	overflow: auto;
	padding: 0;
	margin-top: 1%;
	border: 1px solid #CBDFF7;
	border-radius: 4px;
	background: #fff;
}

#resourceMapDashboard #resourceMapPanel {
	max-height: 530px;
	background-color: #f2f6f9;
	border: none;
}

#contextMenu {
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #f8f8f8;
	padding: 0;
}

#contextMenu li {
	border-bottom: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

#contextMenu li a {
	color: #666;
}

#contextMenu li a:hover {
	color: #fff;
}

#contextMenu li:last-child {
	border: 0;
}

#freeSpaceBar {
	margin-bottom: 1%;
}

/**********************************   CUSTOM DATATABLE CSS  *******************************************/
#groupPermissionsTable_wrapper, #userPermissionsTable_wrapper {
	margin-top: 0px;
}

#metadataSearchTableResults div.dataTables_wrapper div.dataTables_info {
	text-align: right;
}

div.dataTables_wrapper.dt-bootstrap div.dataTables_paginate {
	text-align: center;
	background-color: #5faee5;
	height: 50px;
}

div.dataTables_wrapper.dt-bootstrap .row:last-of-type div.dataTables_paginate
	{
	padding-top: 10px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

div.dataTables_wrapper.dt-bootstrap div.dataTables_paginate ul.pagination
	{
	margin: 0;
}

.table.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom: 0 none;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing
	{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	margin-left: -49%;
	margin-top: -25px;
	text-align: center;
	font-size: 1.2em;
	color: dimgrey;
	height: 60px;
	background-color: white;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,
		255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)),
		color-stop(75%, rgba(255, 255, 255, 0.9)),
		color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%,
		rgba(255, 255, 255, 0) 100%)
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-xs
	{
	top: 85px;
	margin-top: -33px;
	height: 30px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-sm
	{
	margin-top: -10px;
	height: 70px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-md
	{
	height: 80px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing>img
	{
	width: 35px;
	margin-top: 5px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-xs>img
	{
	width: 30px;
	margin-top: -6px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-sm>img
	{
	width: 35px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div.dataTables_processing.loading-md>img
	{
	width: 55px;
	margin-top: 10px;
}

div.dataTables_wrapper .row .col-md-12:first-child>div {
	background-color: #6c6c63;
	height: 50px;
	padding-top: 10px;
	color: white;
}

div.dataTables_wrapper .row:first-child .col-md-12:first-child>div:first-child
	{
	border-top-left-radius: 3px;
}

div.dataTables_wrapper .row:first-child .col-md-12:first-child>div:last-child
	{
	border-top-right-radius: 3px;
}

div.dataTables_wrapper div.col-md-12>.dataTables_info {
	text-align: right;
	font-size: 1em;
	background-color: #333333;
	color: white;
	padding-right: 15px;
	padding-top: 0;
	padding-bottom: 5px;
}

.row table.dataTable {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

table.dataTable {
	border: 1px solid #333333;
}

div.dataTables_wrapper .download_csv {
	margin-bottom: 10px;
}

div.dataTables_wrapper .toolbar .input-group {
	display: inline-flex;
}

.dataTable th, .dataTable td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#groupsListTable tbody, #usersListTable tbody {
	background-color: white;
}

.table.dataTable thead tr {
	background-color: #f1f1f1;
	color: dimgrey;
	border: none;
	font-weight: bold;
}

.table.dataTable thead tr>th {
	padding: 13px;
	font-size: 1em;
}

.table.dataTable thead tr>th.tableCheckBoxCol {
	padding-left: 10px;
}

.table.dataTable tr>td {
	border-top: 1px dotted #c8dff7;
	border-bottom: 1px dotted #c8dff7;
	background-color: #fff;
	padding: 10px;
}

.table.dataTable tr>td input[type=text] {
	width: 100%;
}

#permissionTable {
	width: auto;
}
.confirm-msg-table {
	padding: 3px;
	background: #f2f6f9;
	border-radius: 3px;
}

.confirm-msg-table .buttons {
	display: flex;
	justify-content: flex-end;
}

.confirm-msg-table .btn {
	margin-right: 5px;
	float: right;
	min-width: 70px;
}

#templateFieldsListTable_info {
	text-align: left;
	font-size: 1em;
	padding-top: 8px;
}

#templateFieldsList .requiredHeaderSpan {
	font-size: 1em;
	font-weight: normal;
	margin-left: 5px;
}

/**************************************************************************************************/
.required:BEFORE {
	content: "*";
}

/* Making sure the tooptip is not hidden by other layers */
.tooltip {
	position: fixed;
}

.legend img {
	float: left;
	margin-right: 5%;
}

#actions .btn-group, #addPermissionButtonDiv {
	margin: 0 15px 0 0;
	padding: 0;
}

#actions .dropdown-menu .divider {
	margin: 5px 0;
}

#addPermissionButtonDiv .dropdown-menu {
	top: 30px;
}

#actions .btn-group a:FIRST-CHILD {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#actions .btn-group ul li.divider {
	margin: 0;
}

#actions .btn-group ul li span, #addPermissionButtonDiv ul li span {
	display: inline-block;
	width: 20px;
}

#actions .btn-group ul li a, #addPermissionButtonDiv ul li a {
	color: #337ab7;
}

#uploadBtn {
	margin-right: 2%;
}

#actions i, #metadataActions i {
	margin-right: 0.1%;
}

#metadataActions {
	margin-right: 15px;
}

#metadataActions>button {
	min-width: 80px;
}

#metadataModal button {
	min-width: 110px;
}

#addMetadataBtn {
	margin-left: 10px;
}

.saveEditAVUActionColumn, .cancelEditAVUActionColumn {
	min-width: 40px;
	margin-right: 5px;
}

.saveEditAVUActionColumn>i, .cancelEditAVUActionColumn>i {
	margin-right: 5px;
}

.shortcuts-section * {
	margin-bottom: 2%;
}

th {
	cursor: pointer;
}

.hideElement {
	display: none;
}

.errorMsg {
	color: #a94442;
	font-size: 1.1em;
}

.permission-enabled, .permission-icon:hover {
	color: #046383;
}

.permission-disabled {
	color: #c6c6c6;
}

.permission-icon {
	padding-right: 4%;
	cursor: pointer;
	font-size: 1.1em;
}

#collectionListAsync a {
	margin-right: 2%;
}

#collectionListAsync .permission-icon {
	padding: 0;
	margin-right: 1%;
	cursor: default;
	font-size: 1em;
}

#collectionListAsync .permission-icon:hover {
	color: #c6c6c6;
	cursor: default;
}

#collectionListAsync .permission-enabled:hover {
	color: #046383;
}

h1.page-header {
	border-bottom: none;
	padding-bottom: 0;
	margin: 0px 5px 0px 0px;
}

.page-header {
	font-size: 2.2em;
	margin: 0px 0px 0px 0px;
}

A
h1+span.subtitle {
	margin-top: 45px;
	margin-left: 10px;
	float: left;
}

#info-collection label:AFTER {
	content: ':';
}

.collLesserInfo {
	clear: both;
	color: #656363;
}

.collLesserInfo.divider {
	border-bottom: 1px dotted #CBDFF7;
	margin: 0 5px 15px 0;
}

.collLesserInfo>ul li {
	display: inline;
	margin-left: 10px;
	/* height: 10px; */
}

#replicaAndChecksumInfo .table thead tr {
	background-color: #59b0ee;
	color: white;
}

#replicaAndChecksumInfo .table thead tr th {
	border: 1px solid transparent;
	font-weight: bold;
}

.tt-menu {
	width: 200px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 1em;
	line-height: 24px;
}

.tt-suggestion:hover {
	cursor: pointer;
	color: #fff;
	background-color: #046383;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #046383;
}

.tt-suggestion p {
	margin: 0;
}

.empty-message {
	padding: 5px 10px;
	text-align: center;
}

span .label {
	padding: 0.4em .6em .3em;
}

/**********************************   BREADCRUMB  *******************************************/
.breadcrumb-wrapper {
	border-radius: 4px;
	margin: 5px 0 10px 0;
	float: left;
	width: 100%;
	text-align: left;
}

/*added to overwrite bootstrap class to get rid off '/' in breadcrum */
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: #287EA1;
	font-family: FontAwesome;
	content: "\f101";
}

.btn-group.history {
	vertical-align: middle;
	float: left;
	display: inline-block;
}

.btn-group.history>.btn.dropdown-toggle {
	padding-right: 6px;
	padding-left: 7px;
	border-radius: 0;
	position: relative;
	height: 38px;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.btn-group.history>ul.dropdown-menu {
	left: 0;
	top: 38px;
	width: auto;
	min-width: 300px;
}

.btn-group.history>ul.dropdown-menu>li.header {
	color: #808080;
	font-style: italic;
	padding-left: 10px;
}

.btn-group.history>.btn.dropdown-toggle {
	border-right: 2px solid #f3f3f3;
}

.btn-group.history>.btn.dropdown-toggle>.caret {
	margin-bottom: 5px;
}

.text-btn {
	padding: 7px 10px;
	display: inline-block;
}

.icon-btn {
	padding: 9px 10px;
	display: inline-block;
	margin: 0;
}

.dropdown-menu>li>a.home:before {
	font-family: FontAwesome;
	content: "\f015";
	margin-right: 5px;
}

#editable-path {
	display: inline-block;
	min-height: 38px;
	z-index: 4;
	width: 78%;
}

#current-path {
	display: inline-block;
	width: 100%;
	height: 38px;
	padding: 0px;
}

.breadcrumb {
	font-size: 0.8em;
	padding: 0;
	border-radius: 0;
	height: 38px;
	background-color: #fff;
	margin: 0 0 10px 0;
	height: auto;
}

.breadcrumb span {
	color: #333;
}

.breadcrumb li {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 25ch;
	white-space: nowrap;
}

.breadcrumb li:last-child {
	max-width: 30ch;
}

#navigationBar {
	border: none;
	margin-bottom: 10px;
	padding: 3px 10px 0 10px margin-left:0px;
	background-color: #fff;
	width: 100%;
	position: relative;
}

#navigationBarGo, #navigationBarCancel {
	top: 10px;
	position: absolute;
}

#navigationBarGo {
	right: 55px;
}

#navigationBarCancel {
	right: 20px;
}

#navigationInput {
	border: 3px solid #f7fafe;
	background-color: #f7fafe;
	border-radius: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
	width: 100%;
	height: 38px;
	padding-left: 5px;
}

.btn-favorite {
	padding: 5px;
	background-color: #fff;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	display: inline;
	float: right;
}

#breadcrumbStar i, #breadcrumbHome i {
	font-size: 1.1em;
}

#breadcrumbStar, #breadcrumDownloadBtn {
	padding: 9px 10px;
	text-decoration: none;
}

#breadcrumDownloadBtn {
	font-size: 15px;
}

#breadcrumbStar i, #breadcrumDownloadBtn i {
	display: block;
	margin: 0 auto;
}

#breadcrumbStar .bm-checked {
	color: #f4d03f;
}

#breadcrumbStar .bm-unchecked {
	color: #cbdaf0;
}

#directoryPath #breadcrumbOptions .dropdown-menu {
	min-width: 130px;
	right: -2px;
}

#directoryPath .dropdown-menu span {
	color: #337ab7;
	display: inline-block;
	width: 18px;
}

#directoryPath a {
	margin: 0;
}

.folder-icon {
	padding-right: 1%;
}

ul {
	list-style-type: none;
}

.btn-group.properties {
	vertical-align: middle;
	float: right;
	display: inline-block;
	height: 38px;
}

.btn.btn-properties.btn-default.dropdown-toggle {
	border-left: 2px solid #f3f3f3;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: none;
	border-top: none;
	border-right: none;
	height: 38px;
}

.btn.btn-properties>i {
	margin-top: 5px;
	font-size: 1em;
}

.dropdown-menu>li>a {
	padding: 3px 10px;
	font-size: 1em;
	color: #337ab7;
	vertical-align: middle;
}

/* breadcrumb - search results */
.breadcrumb.mlx {
	font-size: 1em;
	background-color: #f2f6f9;
	float: right;
	margin-bottom: 0;
	margin-top: 30px;
	margin-right: 10px;
	padding: 0;
}

.breadcrumb.mlx>li+li:before {
	content: ">";
}

a.page-hint {
	/*font-size:1.3em;
	margin-top:30px; */

}

.page-hint i {
	/*font-size:1.3em;
	margin-top:30px; */
	color: #ffffff;
}

.property {
	background: #fff;
	padding: 15px 15px 25px 15px;
	border-radius: 4px;
	border: solid 1px #CBDFF7;
}

.panel.loading {
	background: #fff;
	padding: 15px 25px 15px 25px;
	border-radius: 4px;
	border: solid 1px #CBDFF7;
}

.property-title {
	color: #046383;
	float: left;
	margin-left: 20px;
	margin-right: 5px;
}

.property-title i {
	margin-right: 5px;
}

.btn-property, .btn-page-action {
	margin-bottom: 10px;
}

#tree-view-panel-body a, #tree-view-panel-body a:hover,
	#tree-view-panel-body a:ACTIVE {
	text-decoration: none;
}

#tree-view-panel span {
	padding-top: 1%;
}

#tree-view-panel a {
	margin: 0;
	padding: 0;
}

#emptyTrashBtn {
	height: 40px;
	margin-top: 5px;
	padding-top: 10px;
}

#showCollectionFormBtn {
	justify-content: center;
}

#showCollectionFormBtn>span {
	margin-right: 1px;
	float: left;
}

#showCollectionFormBtn>span i.icon-inside {
	color: #046383;
	margin-top: 2px;
}

#uploadIcon  div.btnLabel, #showCollectionFormBtn  div.btnLabel {
	padding-top: 4px;
	visibility: hidden;
	display: none;
}

#uploadIcon  div.btnLabel {
	padding-left: 3px;
}

#showCollectionFormBtn  div.btnLabel {
	padding-left: 5px;
}

#uploadIcon {
	justify-content: center;
}

.panel-info {
	padding: 15px;
	background-color: #f2f6f9;
	border-radius: 5px;
}

.panel-info-header{
    padding: 15px;
    background-color: #f2f6f9;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.panel-info span {
	word-break: break-all;
}

.panel-info>.name {
	font-size: 1em;
	margin-bottom: 10px;
}

.btn-default.disabled, .btn-default[disabled] {
	background-color: #fff;
	color: #cbdff7;
	border: solid 1px #cbdff7;
}

.btn-default.disabled>i {
	opacity: 1 !important;
}

.btn-users, .btn-groups, .btn-templates, .btn-resources {
	float: right;
	margin-bottom: 10px;
	min-width: 120px;
}

a.btn-add-user {
	margin-right: 15px;
	float: right;
	min-width: 120px;
}

.btn-shared, .btn-resources-view, .btn-template-action {
	float: left;
	margin-right: 5px;
	margin-bottom: 10px;
	min-width: 120px;
}

.clear {
	clear: both;
}

#actionsWait {
	margin-top: 7px;
	width: 300px;
}

div.dataTables_wrapper .dataTables_length {
	float: left !important;
}

div.dataTables_wrapper .dataTables_length select {
	width: 65px !important;
	font-size: 1em;
	margin-right: 10px;
	height: 35px;
}

div.dataTables_wrapper div.dataTables_filter {
	text-align: none;
	float: right;
}

alert-dialog {
	display: none;
	visibility: hidden;
}

.alert {
	padding: 5px;
	margin-bottom: 10px;
}

.alert-dismissable .close, .alert-dismissible .close {
	position: relative;
	top: -2px;
	right: 0px;
	color: inherit;
}

.table-loader {
	padding: 0 15px;
}

.table-loader img {
	width: 40px;
}

.table-loader>p {
	padding: 1%;
}

.scrollable-table {
	max-height: 600px;
	overflow-x: auto;
}

.scrollable-div {
	height: 38em;
	overflow: hidden;
	overflow-y: auto;
}

.scrollable-modal-body {
	max-height: 300px;
	overflow: auto;
}

.modal .modal-header {
	background-color: #046383;
	color: #fff;
	border-radius: 5px 5px 0 0;
}

#copyModal {
	overflow: hidden;
}

#copyModal .modal-body, #moveModal .modal-body {
	max-height: 70vh;
	overflow: auto;
}

.table {
	margin-top: 1%;
}

.table-responsive {
	border: 0;
}

.navbar-brand {
	padding: 10px 0 0 0;
}

.nav

.open
>
a
,
.nav

.open
>
a
:hover
,
.nav

.open
>
a
:focus
,
{
background-color
:

#2786c6
;


border-color
:

#2786c6
;


}
.subtitle {
	color: #777;
}

.btn-link {
	color: #046383;
}

.btn-link:hover, .btn-link:active, .btn-link:focus, .btn-link:visited {
	color: #0b3e73;
}

.btn-primary, .panel-primary>.panel-heading {
	background: #046383;
	border-color: #0b3e73;
}

.btn-primary:visited, .btn-primary:hover, .btn-primary:focus,
	.btn-primary:active {
	color: #fff;
}

.btn-primary:hover {
	background: #2786c6;
}

.navbar {
	background: #7f7f7f;
}

.topnavbar {
	background: #287EA1;
}

.navbar-toggle {
	background: #7f7f7f;
	border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}

.white-icon {
	color: #fff;
}

#wrapper {
	width: 100%;
}

#page-nav-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #fff;
}

#page-wrapper {
	order: 2;
	display: inline-block;
	width: 100%;
	max-width: 1026px;
	min-height: 830px;
	padding: 0;
	font-size: 15px;
	margin-left: -2px;
	padding-top: 20px;
}

#page-wrapper>.row {
	margin: auto 0;
}

#page-wrapper, #page-wrapper-tickets {
	min-height: 568px;
	background-color: #fff;
}

#page-wrapper-tickets .panel.loading p {
	clear: both;
}

#page-wrapper-tickets .property-title {
	margin-left: 0;
}

#page-wrapper:last-child, #page-wrapper-tickets:last-child {
	margin-bottom: 10%;
}

.mime-icon {
	display: inline-block;
	margin-right: 5px;
}

.mime-info {
	display: inline-block;
}

.mime-desc .mime-label {
	font-size: 1.5rem;
	display: block;
}

.mime-desc .mime-object {
	font-size: 2rem;
	display: block;
}

.sidebar {
	order: 1;
	vertical-align: top;
	width: calc(50% - 513px);
	min-width: 200px;
	background-color: #E0EBF3;
	display: inline-block;
}

.sidebar ul li>a:hover, .sidebar ul li>a:focus, .sidebar ul li>a:active,
	.sidebar ul li>a:visited {
	background-color: transparent;
}

@media ( max-width : 1440px) {
	#page-wrapper {
		width: calc(50% + 313px);
	}
}

.nav .open>a.dropdown-toggle {
	background-color: #35394a;
}

.metalnx-topnav .dropdown-toggle {
	text-decoration: none;
}

.dropdown-toggle .navbar-top-links-text, .dropdown-toggle .fa-user {
	color: #fff;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
	color: #fff;
}

#side-menu li.profile: first-child span {
	bottom: 0;
	margin-bottom: 5px;
}

i.fa-square-o.menu-icon {
	font-size: 3em;
}

i.fa-user.menu-icon {
	font-size: 2em;
}

#uploadStatusIcon li a {
	color: #656363;
	padding-right: 0;
	top: -1;
}

ul.navbar-top-links>li.dropdown>.dropdown-toggle:hover, ul.navbar-top-links>li.dropdown>.dropdown-toggle:focus,
	ul.navbar-top-links>li.open>a.dropdown-toggle {
	background-color: #046383;
	box-shadow: inset 0 3px 10px rgba(0, 0, 0, .125);
	border-top: none;
	border-bottom: none;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
	background-color: #046383;
	margin-top: 0;
}

.navbar-top-links .dropdown-user>li>a {
	color: white;
}

.navbar-top-links .dropdown-user>li>a:hover {
	background-color: #3d9de0;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar #side-menu {
	opacity: 1;
}

.sidebar ul li a {
	display: flex;
	align-items: flex-start;
	text-decoration: none;
	padding: 10px 20px 8px 0;
	color: #4A4A4A;
}

.sidebar ul li a i {
	order: 2;
	display: block;
	font-size: 1.1em;
}

.sidebar ul li a:hover, .sidebar ul li a:focus, .sidebar ul li a.active
	{
	color: #046383;
	font-weight: bold;
}

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 37px;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

#side-menu li a span {
	text-align: right;
	width: 100%;
	bottom: -6px;
	font-size: 13px;
	order: 1;
	padding-right: 14px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #2786c6;
}

.navbar-default .navbar-toggle {
	border: 0;
	border-color: none;
}

.modal-footer button.btn {
	min-width: 100px;
}

button.btn-default>i, a.btn-default>i, button.btn-primary>i, a.btn-primary>i
	{
	margin-right: 3px;
}

.user-panel {
	padding: 5%;
	padding-left: 5%;
	background: #fff;
}

.user-panel img {
	float: none;
	margin: 0 auto;
	width: 75px;
	height: 75px;
}

.img-circle {
	border-radius: 65%;
}

.user-panel p {
	padding: 3%;
}

.user-panel p span {
	margin-left: 3%;
}

#uploadForm>.text-right {
	font-size: 1em;
	margin-bottom: 1px;
}

#uploadForm>.well {
	max-height: 333px;
	overflow: auto;
	min-height: 200px;
	text-align: center;
}

#uploadForm>.well #filesList {
	text-align: left;
}

#uploadForm .col-lg-3 {
	height: 26px;
}

#tree-view-panel-body .tab-pane {

}

#emptyMetadataTable {
	text-align: center;
}

.metadata>.tree-view-panel>.tabpanel {
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

#properties-search {
	padding-bottom: 10px;
}

#metadata-search>div, #properties-search>div {
	display: inline-block;
	width: 100%;
}

#metadataSearchActionButtons {
	margin-bottom: 10px;
}

#propertiesSearchActionButtons button, #metadataSearchActionButtons button,
	#collectionPreviewSearchButtons button {
	margin-left: 10px;
	min-width: 110px;
}

.metadataSearchField {
	width: 23%;
}

.propertiesSearchField {
	width: 32%;
}

.metadataSearchRow, .propertiesSearchRow {
	margin: 5px 0;
	justify-content: space-between;
	display: flex;
}

.modal .tab-content {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2f6f9;;
}

.modal .nav-tabs>li.active>a, .modal .nav-tabs>li.active>a:hover, .modal .nav-tabs>li.active>a:focus,
	.modal .nav>li>a:hover, .modal .nav>li>a:focus {
	background-color: #f2f6f9;
	border: 1px solid #f2f6f9;
}

.nav-tabs {
	border-bottom: 1px hidden #DDD;
}

.modal-footer .targetPathInfoDiv {
	margin-bottom: 10px;
}

.modal-footer .targetPathInfoSpan {
	font-weight: bold;
}

#templateListAsync #actions {
	width: 50%;
}

#templateListAsync .scrollable-table {
	margin-top: 50px;
}

#ui-datepicker-div {
	font-size: 1em;
}

footer {
	text-align: center;
	font-size: 1em;
	width: 100%;
	color: #777;
	margin-top: -20px;
}

.dashboardWidget .panel {
	border-radius: 5px;
	border-color: #CBDFF7;
}

#systemHealth .panel.panel-default {
	padding: 10px;
}

#systemHealth .panel .panel-body {
	padding: 0;
}

.rmd-status-msg {
	padding: 0 10px;
	color: #f0ad4e;
}

#systemHealth .panel .panel-body h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.grid-status-title.normal {
	color: #3b834f;
}

.grid-status-title.error {
	color: #d9534f;
}

.grid-status-title.warning {
	color: #f0ad4e;
}

#totalStorageDiv #totalStorageSum table {
	width: 100%;
}

.panel.totalStorage {
	height: 310px;
}

#totalStorageSum table>tbody>tr>td:first-child {
	text-align: right;
	width: 50%;
}

#totalStorageSum table>tbody>tr>td:nth-child(2)>span {
	margin-left: 3px;
}

.resourceMapDashboardWrapper {

}

.resourceMapDashboardWrapper .panel {
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #CBDFF7;
}

.resourceMapDashboardWrapper .panel-body {

}

.resourceMapDashboardWrapper #resourceInfo {
	z-index: 1;
}

.resourceMapDashboardWrapper a {
	margin-top: 15px;
}

#serverListPanel {
	height: 300px;
}

#serverListPanel .panel {
	height: 280px;
}

#serverListPanel .panel .panel-body {
	height: 230px;
	overflow: auto;
}

#msiAPIVersionPanel .popover {
	max-width: 550px;
}

#mlxMsiPanel table td {
	overflow: auto;
	text-overflow: initial;
	white-space: normal;
	border-top: 0px solid #DDD;
	border-bottom: 1px solid #DDD;
}

#isilonServerListPanel, #isilonServerListPanel .panel,
	#nonResourceServerListPanel, #nonResourceServerListPanel .panel {
	height: auto;
}

.dashboardCard {
	color: #046383;
	border-radius: 0px;
}

.dashboardCard .panel-body {
	text-align: center;
	padding: 0px;
}

.dashboardCard .panel-body div:nth-child(3) {
	margin-top: 10px;
	font-size: 1.2rem;
}

.dashboardCard .panel-body .cardIconWrapper {
	background-color: #046383;
	position: absolute;
	height: 65%;
	top: 0px;
	left: 16px;
	width: 23%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.dashboardCard .panel-body .cardIcon {
	font-size: 1em;
	padding-top: 9px;
	color: #fff;
}

.dashboardCard .panel {
	border-color: #CBDFF7;
	border-radius: 5px;
}

.dashboardCard .panel-body .fa-stack {
	width: 25%;
	padding-top: 3px;
	font-size: 1em;
}

.dashboardCard .btn-link {
	margin-right: 14px;
	margin-top: 1px;
	font-size: 1em;
	color: #046383;
}

#serverListPanel .dashboardServersList {
	width: 100%;
	table-layout: auto;
}

#serverListPanel .dashboardServersList>tbody>tr>td,
	#isilonServerListPanel .table tbody>tr>td, #nonResourceServerListPanel .table tbody>tr>td
	{
	padding: 8px;
	border-top: 1px dotted #C8DFF7;
	white-space: normal;
}

#serverListPanel .dashboardServersList>tbody>tr>td:first-child {
	width: 1%;
}

#serverListPanel .dashboardServersList>tbody>tr>td>a {
	display: block;
}

#serverListPanel .dashboardServersList>tbody>tr>td>span.fa-stack>i.fa-circle.fa-stack-2x
	{
	color: #5CB85C;
}

.networkWidgetPanel, .storageWidgetPanel {
	height: 220px;
}

.storageWidgetPanel table {
	margin: 50px 0;
}

#totalStorageSum.storageWidgetPanel table>tbody>tr>td:first-child {
	text-align: left;
}

#totalStorageSum.storageWidgetPanel table>tbody>tr>td:nth-child(2) {
	text-align: right;
}

#totalStorageSum.storageWidgetPanel table>tbody>tr:nth-child(3) {
	border-top: 1px solid lightgray;
}

#irodsServerLogs {
	background-color: #f2f6f9;
}

#irodsServerLogs p {
	word-break: break-all;
}

#resourcesPanel .panel-body {
	height: 15em;
	overflow: auto;
}

#resourceListOfAServer {
	background-color: #f2f6f9;
	padding: 10px 0;
}

#resourceListOfAServer table tr {
	border-bottom: 1px dotted #C8DFF7;
}

#resourceListOfAServer table tr>td:nth-child(3) {
	text-align: right;
	padding-right: 10px;
}

#treeViewTable tr td .recursiveQuestion, #treeViewCollectionTable tr td .recursiveQuestion
	{
	position: absolute;
	z-index: 99;
	width: 100%;
	background-color: #d9edf7;
	left: 0;
	margin-top: -9px;
	height: 40px;
	padding-top: 6px;
}

#treeViewTable tr td .recursiveQuestion>div, #treeViewCollectionsTable tr td .recursiveQuestion>div
	{
	display: flex;
	justify-content: center;
}

#treeViewTable tr td .recursiveQuestion .recursiveQuestionButtonsWrapper,
	#treeViewCollectionsTable tr td .recursiveQuestion .recursiveQuestionButtonsWrapper
	{
	margin-left: 15px;
}

.form-group.optional {
	height: 70px;
}

form.registerForm input.form-control::placeholder, form.registerForm input.tt-input::placeholder
	{
	color: #a3a3a3;
}

form.registerForm input.tt-input {
	width: 100%;
	!
	important
}

form.registerForm .panel-default>.panel-heading {
	background-color: #fff;
	border-top: 3px solid #5faee5;
	height: 42px;
}

form.registerForm .panel-default>.panel-heading {
	clear: both;
}

form.registerForm .panel-default>.panel-body table.dataTable {
	border: none;
}

form.registerForm .panel-default>.panel-body .table.dataTable thead tr {
	background-color: #fff
}

form.registerForm .panel-default>.panel-body div.dataTables_wrapper .row .col-md-12:first-child>div
	{
	background-color: #f2f6f9;
}

form.registerForm .panel-default>.panel-body div.dataTables_wrapper .dataTables_info
	{
	text-align: center;
	color: #656363;
}

form.registerForm>.pull-right>.btn {
	min-width: 80px;
	margin-left: 10px;
	margin-bottom: 15px;
}

form.registerForm .bootstrap-tagsinput {
	width: 100%;
}

.advanced-settings {
	clear: both;
	padding: 15px;
	border-radius: 5px;
	background: #f8f8f8;
	height: 840px;
}

#collectionsViewForUser .breadcrumb, #collectionsViewForGroup .breadcrumb
	{
	margin-left: 0px;
}

.resulting-permission {
	font-size: 1em;
	color: gray;
	padding-left: 5px;
}

#nonexistentUsernameIcon, #nonexistentGroupIcon {
	left: 260px;
}

/* Medium devices and up */
@media ( min-width : 1001px) {
	#actionApplyTemplates, #actionDownload {
		width: 350px;
	}
	#directoryPath {
		padding-right: 0;
	}
	#actionRemoval {
		width: 270px;
	}
}

@media ( min-width : 769px) and (max-width: 1000px) {
	#treeViewTable {
		float: left;
	}
	#actionUpload {
		margin-bottom: 0px
	}
	#editable-path {
		width: 78%;
	}
	/*.breadcrumb:nth-last-child(2),
    .breadcrumb:nth-last-child(3) {
        visibility:hidden;
    }*/
}

@media ( max-width : 767px) {
	.sidebar.nano>.nano-content {
		position: relative;
	}
	.sidebar .fa-stack.fa-lg, .sidebar i.fa {
		display: none;
	}
	.sidebar ul li.menu-group-title {
		padding: 1px 0;
		background: #046383;
		font-size: .9em;
		color: #f9f9f9;
		width: 100%;
		text-align: center;
		border: 1px solid #046383;
		font-family: Verdana, Geneva, sans-serif;
	}
	.scrollable-table {
		max-height: 100%;
	}
	#treeViewTable {
		float: left;
	}
	#actionUpload {
		margin-bottom: 0px
	}
	#treeViewTable {
		margin-top: 30px;
	}
	#editable-path {
		width: 65%;
	}
	#current-path {
		width: 65%;
	}
	.breadcrumb li:last-child {
		max-width: 80%;
	}
	#uploadIcon {
		float: left;
	}
	#actionUpload>a {
		width: 49%;
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
		height: 35px;
	}
	#uploadIcon  div.btnLabel, #showCollectionFormBtn  div.btnLabel {
		visibility: visible;
		display: block;
	}
}

/* Medium devices and up */
@media ( min-width : 768px) {
	.sider {
		display: none;
	}
	/*.sidebar {
		z-index: 1;
		position: absolute;
		width: 100px;
	}*/
	.sidebar.nano {
		position: absolute;
		width: 100px;
		height: 100%;
	}
	.sidebar.nano>.nano-pane>.nano-slider {
		background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	}
	#side-menu li a span.fa-stack.fa-lg {
		font-size: 1.1em;
	}
	#side-menu li a span.fa-stack.fa-lg>.fa-folder.fa-stack-2x {
		font-size: 3em;
	}
	.sidebar ul li a {
		border-top-style: none;
		text-align: center;
	}
	.sidebar ul li:last-child a {
		border-bottom-style: none;
	}
	.sidebar ul li.menu-group-title {
		padding: 1px 0;
		background: #046383;
		font-size: .9em;
		color: #f9f9f9;
		width: 100%;
		text-align: center;
		font-family: Verdana, Geneva, sans-serif;
	}
	#sidebarnav ul li.active>a, a[aria-expanded="true"] {
		color: #fff;
		background: #287EA1;
	}
	#sidebarnav ul li a[aria-expanded="false"]::before, a[aria-expanded="true"]::before
		{
		content: '\f107';
		display: inline-block;
		font-size: 2rem;
		/*content: '\f329';*/
		font-family: 'FontAwesome';
		display: block;
		position: absolute;
		right: 20px;
		color: #ffffff;
	}
	.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks,
		.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
	.user-panel {
		padding: 10%;
		padding-left: 5%;
		background: #fff;
	}
	.user-panel img {
		float: none;
		margin: 0 auto;
		width: 75px;
		height: 75px;
	}
	.user-panel p {
		padding: 8%;
	}
	.user-panel p span {
		margin-left: 5%;
	}
	.list ul li {
		padding: 1%;
	}
	.searchBox {
		width: 340px;
		position: absolute;
		right: 14px;
		top: 45px;
	}
}

/* Large Devices */
@media ( min-width : 1200px) {
	.breadcrumb li:nth-last-child(2), .breadcrumb li:nth-last-child(3) {
		max-width: 25ch;
	}
	.breadcrumb li:last-child {
		max-width: 35ch;
	}
	#editable-path {
		width: 85%;
	}
}

/* Button btn-default*/
.btn-default {
	background-color: #fff;
	border-color: #CBDFF7;
}

.btn-default:hover, .btn-default:focus, .btn-default:active,
	.btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #046383;
	background-color: #ffffff;
	border-color: #CBDFF7;
}

.btn-group.open .dropdown-toggle {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
}

/* Tickets */
#newTicketInfoCopy {
	opacity: 0;
	width: 1px;
	height: 1px;
	float: left;
}

#copyTicketStringBtn {
	margin-left: 20px;
}

#copyTicketStringBtn>i, #sendTicketStringBtn>i {
	margin-right: 2px;
}

#hostnamesLabel {
	width: 100%;
}

#inputNewHostname {
	width: 78%;
	margin-bottom: 10px;
}

#panelHostnames {
	clear: both;
	height: 125px;
	overflow: scroll;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 8px;
	border-radius: 5px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#listHostnames {
	padding: 2px;
}

#listHostnames li {
	border-bottom: 1px dotted lightgray;
	padding: 5px;
}

#listHostnames li a.btn {
	margin-top: -5px;
}

#emailBtn, #ticketDownloadBtn {
	margin-right: 5px;
}

#ticketAccessForm button {
	min-width: 120px;
}

#existingIPMsg {
	clear: both;
	float: left;
	margin-top: -5px;
}

#existingIpIcon {
	left: 360px;
}

#metalnx-topnav {
	font-size: 15px;
	background-color: #287ea1;
}

#metalnx-topnav>li>a:hover, #metalnx-topnav>li>a:focus {
	background-color: #6c6c63;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.close {
	color: #FFF;
	opacity: 1;
}

.content_menu {
	height: auto;
	overflow: auto;
}

.breadcrumb a {
	color: #287EA1;
}

.disabled {
	pointer-events: none; /*This makes it not clickable*/
	opacity: 0.6; /*This grays it out to look disabled*/
}

td a {
	cursor: pointer;
}

.collection-title h1, h2 {
	padding-bottom: 0;
	margin-bottom: 0;
}

.collection-title h2 {
	font-size: 28px;
	color: #0F7EA3;
	font-weight: 300;
	margin: 0 0 5px 0;
	font-family: 'Open Sans', sans-serif;
}

.collection-title h3 {
	font-weight: 300;
	margin: 0 0 10px 0;
	font-family: 'Open Sans', sans-serif;
}

.box {
	background-color: #F2F6F9;
	margin-top: 10px;
	padding: 15px;
	margin: 0;
}

.box-default {
	border-top: solid 5px #0F7EA3;
	margin: 10px 0 -3px 0;
	padding: 20px 0 30px;
}

.box-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.box:before {
	content: "";
	display: block;
	background: #A2E8A7;
}

.font-color {
	color: #287EA1;
}

.fas-icon i {
	font-size: 3em;
	color: #287EA1;
}

.fa-color {
	color: #287EA1;
}

.datacommons_title {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #287EA1;
	color: #ffffff;
	padding-top: 15px;
	font-weight: 300;
}

.datacommons_title-left {
	order: 1;
	vertical-align: top;
	width: calc(50% - 513px);
	min-width: 200px;
	display: inline-block;
	border: 0;
	padding-right: 35px;
	text-align: right;
}

.datacommons_title-mid {
	order: 2;
	display: inline-block;
	width: calc(100% - 200px);;
	max-width: 826px;
	padding: 0;
	margin-left: -2px;
	border: 0;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.datacommons_title-right {
	order: 3;
	/*width: 600px;*/
	text-align: right;
}

.datacommons_title .page-header {
	border: 0;
}

.datacommons_title .page-header h1 {
	padding: 10px 0 5px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.datacommons_title-left {
	padding-right: 28px;
}

.datacommons_title-icon i {
	font-size: 4em;
	color: #FFFFFF;
	padding: 5px 5px 5px 25px;
}

.topnavbar-fa-style {
	display: inline-block;
	font-size: 2rem;
	font-family: 'FontAwesome';
	color: #fff;
}

.datacommons_title-right .navbar>li>a {
	padding: 5px 5px;
}

.datacommons_title-usermenu {
	font-size: 1.7rem;
	display: inline-block;
	white-space: nowrap;
	margin-top: 20px;
}

.datacommons_title-usermenu:before {
	display: inline-block;
	font-size: 2rem;
	font-family: 'FontAwesome';
	margin-right: 15px;
	vertical-align: top;
}

.datacommons_title-usermenu .dropdown {
	display: inline-block;
	white-space: nowrap;
	/* width: calc(100% - 37px); - mcc */
}

.datacommons_title-usermenu .dropdown .dropdown-toggle {
	text-decoration: none;
}

.datacommons_title-breadcrum {
	width: 100%;
	font-size: 1.45em;
	font-family: arial;
}

.datacommons_title-breadcrum a {
	color: #FFF;
	text-decoration: none;
}

.datacommons_title-breadcrum a:hover {
	text-decoration: underline;
}

.datacommons_title-breadcrum a:active, .datacommons_title-breadcrum a:visited
	{
	color: #FFF;
	text-decoration: none;
}

.datacommons_title .navbar-top-links-text {
	/*white-space: pre-wrap;*/

}

@media ( max-width : 1440px) {
	.datacommons_title .datacommons_title-mid {
		width: calc(50% + 113px);
	}
}

.popover-content {
	color: #000000;
}

.side-canvas {
	order: 3;
	vertical-align: top;
	width: calc(50% - 513px);
	min-width: 200px;
	font-size: 1.5rem;
	background-color: #E0EBF3;
	/*display: none;*/
	color: #444444;
	-webkit-box-shadow: -1px 0px 4px #999;
	-moz-box-shadow: -1px 0px 4px #999;
	box-shadow: -1px 0px 4px #999;
}

.side-canvas .canvasMimetype {
	padding: 30px 15px;;
	background-color: #fff;
}

.side-canvas .mime-icon {
	display: block;
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
	margin-left: 0;
}

.side-canvas .mime-icon i {
	color: #777;
}

.side-canvas .mime-info {
	width: 100%;
	text-align: center;
}

.side-canvas .mime-icon .mime-desc .mime-object {
	font-size: 1.5rem;
	display: block;
}

.side-canvas_title {
	display: inline-block;
	width: 90%;
	min-width: 180px;
	padding: 15px;
	font-size: 2rem;
}

.side-canvas_content {
	padding: 15px;
	position: relative;
}

.side-canvas_section-icon {
	position: absolute;
	left: 9px;
	font-size: 2rem;
}

.side-canvas_content-info {
	padding-left: 20px;
}

.side-canvas_content-info h4, .side-canvas_content-info h5 {
	font-weight: bold;
	margin-top: 3px;
}

.closeCanvasbtn {
	color: #287EA1;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	opacity: 1;
	font-size: 2rem;
	display: inline-block;
}

.main-collbrowse {
	width: 100%;
	min-height: 100%;
	padding: 30px;
	box-sizing: border-box;
}

.thick {
	font-weight: bold;
}

.thicker {
	font-weight: 900;
}

.fa-small {
	font-size: 6px;
}

.word-wrap {
	overflow-wrap: break-word
}

.property-tab {
	padding: 15px 15px 25px 15px;
	height: auto;
}

.preview {
	width: 100%;
	height: 350px;
	overflow-y: scroll;
}

.preview-img-container {
	width: 100%;
	height: auto;
	overflow-x: scroll;
}

.preview-img-container img {
	width: auto;
}

#csv table {
	width: 100%;
	height: 100%;
}

#toast-container {
	font-size: 1.8em;
}

.menuHeader {
	border-bottom: 1px solid #DDD;
}

.disabled {
	pointer-events: none;
	//
	This
	makes
	it
	not
	clickable
	opacity
	:
	0.6;
	//
	This
	grays
	it
	out
	to
	look
	disabled
}

td a {
	cursor: pointer;
}

/*#deleteConfirmationModal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: table
}
#deleteConfirmationModa div.model-content{
  display: table-cell;
}*/

/*.topnav{
  //width:100%;
  //position: relative;
//  z-index: 2;
  height: 50px;
  background-color: #287EA1;
}
.topnav-usercontroll{
  background-color: #287EA1;
}
.collection-header{
  border-bottom:none;
  margin: 0px 5px 0px 0px;
  padding-bottom:0;
  //font-size: 15px;

}
.collection-margin{
  margin: 10px 10px;
}
.color-blue{
  color:blue;
}

.font-awesometemplate {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 6em;
    padding-left: 40px;
}

.collectionFont{
  color: #287EA1;
}

.breadcrumb a{
    color: #287EA1;
}
.topnavbreadcrum{
  min-width: 1026px;
  max-width: 1026px;
  font-size: small;
}
.topbar{
  width: 100%;
  heigth: 50px;
  background-color:#287ea1;
  color: #fff;
}
.topbar a{
  color: #fff;
}

.collectionTable{
  width: 100%;
  overflow: auto
}*/
ul.bs-autocomplete-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 200px;
	overflow: auto;
	z-index: 9999;
	border: 1px solid #eeeeee;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
}

ul.bs-autocomplete-menu a {
	font-weight: normal;
	color: #333333;
	font-size: 12px;
}

.ui-state-active, .ui-state-focus {
	color: #23527c;
	background-color: #eeeeee;
}

fieldset.scheduler-border {
	border: 1px groove #ddd !important;
	padding: 0 1.4em 1.4em 1.4em !important;
	margin: 0 0 1.5em 0 !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
	font-size: 1.2em !important;
	font-weight: bold !important;
	text-align: left !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
}

.hintText {
	font-color: lightgray;
	font-style: italic;
}

/* Notifications */
#noti_Container {
	position: relative;
	display: inline-block;
}

/* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
#noti_Button {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #FFF;
	margin: -3px 10px 0 10px;
	cursor: pointer;
	width: 22px;
	height: 22px;
}

#noti_Button:before {
	display: inline-block;
	content: '\f0f3';
	font-family: FontAwesome;
	width: 22px;
	height: 22px;
	color:blue;
	padding-top:2px;
	text-align:center;
}

/* THE POPULAR RED NOTIFICATIONS COUNTER. */
#noti_Counter {
	display: block;
	position: absolute;
	background: #E1141E;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	padding: 1px 3px;
	margin: -8px 0 0 25px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	z-index: 1;
}

/* ------------------------------------ Gallery View -------------------------------------------------- */

.large {
	width: 125px;
	height: 125px;
  }
  
  .galleryContainer {
	max-width: 100%;
	margin-left: 20px;
	margin-top: 40px;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
  }
  
  
  .medium {
	width: 100px;
	height: 100px;
  }
  
  .small{
	width: 75px;
	height: 75px;
  }
  
  .thumbnail_select{
	width: 100px;
	margin: 20px 10px auto 40px;
  }
  
  .gallery{
	margin: 10px 20px 10px 20px;
	text-align: center;
  }
  
  .thumbnail_name{
	margin:5px auto 5px auto;
  }

  .collection_view{
    float: right;
    margin-top: 25px;
    margin-right: 140px;
  }

  .widgetsContainer{
    margin-top: 20px;
    margin-left: 20px;
    display:'flex';
    flex-direction: column;
  }

  .widgets{
    margin-left: 35%;
  }