dn: :ldap_dn:
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: user
cn: :user_cn:
sn: :user_sn:
givenName: :user_given_name:
distinguishedName: :distinguished_name:
displayName: :user_cn:
name: :user_cn:
sAMAccountName: :user_username:
userPrincipalName: :user_principal_name:
userPassword: :user_password:
uid: :user_username:
msSFU30NisDomain: :domain_name:
gidNumber: 10000
unixHomeDirectory: /home/:user_username:
loginShell: /bin/sh
