<th:block th:fragment="nonResourceServers">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="">Other Devices</h4>
			<table class="table" th:if="${nonResourceServers}">
				<tr th:each="nonResourceServer : ${nonResourceServers}">
					<!-- <div class="header-line"></div> -->
					<td>
						<a th:href="@{'/dashboard/detail/' + ${nonResourceServer.hostname} + '/' }" th:text="${nonResourceServer.hostname}"></a>
						<small th:text="${nonResourceServer.ip}"></small>
					</td>
				</tr>
			</table>
			<div th:unless="${nonResourceServers}">
				<p>There are no other devices to be displayed.</p>
			</div>
		</div>
	</div>
</th:block>