<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	layout:decorator="template">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<!-- collection info container -->
	<div class="container">
		<div class="row">
			<div class="col-12" aria-labelledby="collInfoManagement"
				layout:fragment="content">
				<div class="row">
					<div class="col-12">
						<th:block th:include="collections/summary :: summaryView"></th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-sm-12" aria-labelledby="collInfoManagement"
			layout:fragment="content">

			<div class="row">
				<th:block th:include="collections/summary :: summaryView"></th:block>
			</div>

			<div class="col-xs-12 tree-view-panel box">
				<div class="tabpanel">
					<ul id="tabs" class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#details" data-toggle="tab"
							role="tab"
							th:onclick="'javascript:getInfoDetails(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-info-circle" alt="File Info"></i></span> <span
								title="collection information">Details</span>
						</a></li>

						<li><a href="#metadata" data-toggle="tab" role="tab"
							th:onclick="'javascript:getMetadata(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-tags"></i></span> <span
								title="Collection Metadata">Metadata</span>
						</a></li>

						<li><a href="#permission" id="permissions" data-toggle="tab"
							role="tab"
							th:onclick="'javascript:getPermissionDetails(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-lock"></i></span> <span
								title="Collection Permissions">Permissions</span>
						</a></li>
					</ul>

					<div class="tab-content"
						style="border: 1px solid #ddd; background-color: #fff; padding-top: 15px;">
						<div id="details" class="tab-pane active" role="tabpanel">
							<th:block th:include="collections/details :: detailsView"></th:block>
						</div>
						<div id="metadata" class="tab-pane" role="tabpanel"></div>
						<div id="permission" class="tab-pane" role="tabpanel"></div>
					</div>
				</div>
			</div>
		</div>
	</div> -->



</body>


<script type="text/javascript" th:src="@{/js/collection.js}"></script>
<script th:inline="javascript" type="text/javascript">
	$(document).ready(function(e) {

		$('.nav-tabs a').click(function(e) {
			e.preventDefault();
			e.stopImmediatePropagation();
			$(this).tab('show');
			//history.replaceState(null, null, $(this).attr('href'));
		});

		// navigate to a tab when the history changes
		/* window.addEventListener("popstate", function(e) {					   
		var activeTab = $('[href=' + location.hash + ']');
		 if (activeTab.length) {					    	
			 e.stopImmediatePropagation();
			 activeTab.tab('show');	 
				 
		} else {					    	
			 $('.nav-tabs a:first').tab('show');
			
		} 
				  });    */

	});
</script>

</html>