
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	layout:decorator="template">
<head>	
	<script type="text/javascript" th:src="@{/plugins/codemirror/lib/codemirror.js}"></script>	
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/codemirror/lib/codemirror.css}"/>
	<script th:src="@{/plugins/codemirror/mode/xml/xml.js}"></script>
	<script th:src="@{/plugins/codemirror/mode/javascript/javascript.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.csv-0.8.3.min.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/jExcel/jquery.jexcel.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/jExcel/jquery.jexcel.min.css}"/>	
</head>
<body>
	<div class="row">

		<div aria-labelledby="collInfoManagement" layout:fragment="content">
			<div class="row">
				<th:block th:include="collections/summary :: summaryView"></th:block>
			</div>

			<div class="col-xs-12 tree-view-panel box">
				<div class="tabpanel">
					<ul id="tabs" class="nav nav-tabs">
						<li class="active"><a href="#details" data-toggle="tab" role="tab"
							th:onclick="'javascript:getInfoDetails(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-info-circle"></i></span> <span
								title="File information">Details</span>
						</a></li>

						<li><a href="#metadata" data-toggle="tab" role="tab"
							th:onclick="'javascript:getMetadata(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-tags"></i></span> <span title="Metadata">Metadata</span>
						</a></li>

						<li><a href="#permission" id="permissions" data-toggle="tab" role="tab"
							th:onclick="'javascript:getPermissionDetails(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-lock"></i></span> <span
								title="Permissions">Permissions</span>
						</a></li>

						<li th:if="${permissionType == 'read' or permissionType == 'write' or permissionType == 'own'}"><a href="#preview" data-toggle="tab" role="tab"
							th:onclick="'javascript:getPreview(\'' + ${dataProfile.absolutePath} + '\');'">
								<span><i class="fa fa-eye"></i></span> <span title="preview">Preview</span>
						</a></li>
					</ul>

					<div class="tab-content" style="border: 1px solid #ddd; background-color: #fff; padding-top: 15px;">
						<div id="details" class="tab-pane fade active in" role="tabpanel">
							<th:block th:include="collections/details :: detailsView"></th:block>
						</div>
						<div id="metadata" class="tab-pane fade" role="tabpanel"></div>
						<div id="permission" class="tab-pane fade" role="tabpanel"></div>
						<div id="preview" class="tab-pane fade" role="tabpanel" th:if="${permissionType == 'read' or permissionType == 'write' or permissionType == 'own'}">
						</div>

					</div>
				</div>
				
				
			<script type="text/javascript" th:src="@{/js/collection.js}"></script>
			<script th:inline="javascript">
				$(document).ready(function(e) {

					/*Browser back button starts*/
					// add a hash to the URL when the user clicks on a tab
					$('.nav-tabs a').click(function (e) {
						e.preventDefault();
						e.stopImmediatePropagation();
						$(this).tab('show');
						//history.replaceState(null, null, $(this).attr('href'));
					});

					// navigate to a tab when the history changes
					 /* window.addEventListener("popstate", function(e) {
						var activeTab = $('[href=' + location.hash + ']');
						if (activeTab.length) {
							activeTab.tab('show');
						} else {
							$('.nav-tabs a:first').tab('show');
						}
					}); 		 */	

				});
			</script>
			</div>
		</div>
	</div>
</body>

</html>