<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org" lang="en"
	layout:decorator="templatev">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div class="row">
		<div class="col-sm-12" aria-labelledby="collectionBrowser"
			layout:fragment="content">
			<h1>Vue Collections Browser!!!</h1>
		</div>
	</div>
</body>
</html>
