<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<!-- ~~~Start of footertag (DO NOT DELETE)~~~-->
<body>
  <div th:fragment="footer">
    <div id="footer">
          <div class="footer_top-links">
              <p class="ftr-emergency"><a href="https://junction.niehs.nih.gov/safety/badges/emergency/"><strong>For Emergencies:</strong></a> call 1-2800</p>
              <p class="site-map"><a href="https://junction.niehs.nih.gov/computer/webtools/site_map/sitemap.htm">Site Map</a></p>
              <p class="a-z"><a href="https://junction.niehs.nih.gov/computer/webtools/a-z/a-z-abstracts.cfm">Junction: A to Z</a></p>
          </div>
          <div class="footer_buttons">
              <a href="https://www.google.com" id="junction-feedback" title="Junction Feedback" >Junction Feedback</a>
              <a href="https://www.google.com" id="junction-request" title="Update This Page" target="_blank">Update This Page</a>
          </div>
          <p class="footer_bottom-links">Other Websites:
              <a href="https://www.niehs.nih.gov/" target="_blank">NIEHS</a><span class="ftr-divider">|</span>
              <a href="https://ntp.niehs.nih.gov/" target="_blank">NTP</a><span class="ftr-divider"> |</span>
              <a href="https://ehp.niehs.nih.gov/" target="_blank">EHP</a><span class="ftr-divider"> |</span>
              <a href="https://kids.niehs.nih.gov/" target="_blank">Kids</a><span class="ftr-divider"> |</span>
              <a href="https://partners.niehs.nih.gov/" target="_blank">NIEHS Extranet</a><span class="ftr-divider"> |</span>
              <a href="https://www.nih.gov/" target="_blank">NIH</a><span class="ftr-divider"> |</span>
              <a href="https://employees.nih.gov/" target="_blank">NIH Intranet</a><span class="ftr-divider"> |</span>
              <a href="https://www.hhs.gov/" target="_blank">HHS</a><span class="ftr-divider"> |</span>
              <a href="https://www.opm.gov/" target="_blank">OPM</a><span class="ftr-divider"> |</span>
              <a href="https://www.niehs.nih.gov/about/od/ocpl/policies/index.cfm#a6581" target="_blank">Accessibility</a>
          </p>
        </div>
  </div>
</body>
</html>
