<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<!-- ~~~Start of footertag (DO NOT DELETE)~~~-->
	<body>
		<div th:fragment="header">
			<!-- ~~~Start of headertag (DO NOT DELETE)~~~-->
			<div class="fifty-banner">
				<div id="hdr-parentlinks">
					<a href="https://www.nih.gov" onClick="target='newwindow'">National
						Institutes of Health</a> <span>&nbsp;-&nbsp;&nbsp;</span> <a
						href="https://www.hhs.gov" onClick="target='newwindow'">U.S.
						Department of Health and Human Services</a>
				</div>
			</div>

			<!-- HEADER START -->
			<div id="header">
				<div id="header-fixed">
					<h1 id="hdr-junctiontitle">
						<a href="https://junction.niehs.nih.gov/"
							title="Go to The Junction Home">The Junction</a>
					</h1>
					<h2 id="hdr-niehstitle">
						<a href="https://www.niehs.nih.gov"
							title="Go to the NIEHS Public Web Site">Go to NIEHS Public Site</a>
					</h2>
					<h3 id="hdr-datacommtitle">
						<a href="https://junction.niehs.nih.gov/"
						title="NIEHS Data Commons">NIEHS Data Commons</a>
					</h3>			
				</div>
				<!-- Closing header-fixed -->
			</div>
			<!-- Closing header -->
			<!-- HEADER END -->
		</div>
		<!-- ~~~End of headertag (DO NOT DELETE)~~~-->
	</body>
</html>
