<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head th:fragment="headerasset">
	<script type="text/javascript">var currentSection = "divisions";</script><!-- ~~~Start of headerassets (DO NOT DELETE)~~~-->
	<link href="https://www.niehs.nih.gov/resources/stylesheets/semantic/semantic.css" rel="stylesheet" type="text/css" />
	<link href="https://junction.niehs.nih.gov/resources/stylesheets/styles-standard.min.css?version=08302017" rel="stylesheet" type="text/css" />
	<link href="https://junction.niehs.nih.gov/resources/stylesheets/print.min.css?version=08302017" rel="stylesheet" type="text/css" media="print" />

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
	<!-- ~~~End of headerassets (DO NOT DELETE)~~~--><!-- ~~~Start of headerassets (DO NOT DELETE)~~~-->
	<script type="text/javascript" src="https://junction.niehs.nih.gov/resources/javascript/semanticTopNav.js?version=08302017"></script>
	<!-- ~~~End of headerassets (DO NOT DELETE)~~~--><!-- ~~~Start of headerassets (DO NOT DELETE)~~~-->
	<script type="text/javascript" src="https://junction.niehs.nih.gov/resources/javascript/hoverIntent.js"></script>
  	<script type="text/javascript" src="https://www.niehs.nih.gov/resources/javascripts/libraries/ilightbox/ilightbox.js"></script>
	<script type="text/javascript" src="https://www.niehs.nih.gov/resources/javascripts/libraries/semantic_menu/transition.min.js"></script>
	<script type="text/javascript" src="https://www.niehs.nih.gov/resources/javascripts/libraries/semantic_menu/dropdown.min.js"></script>
	<!-- ~~~End of headerassets (DO NOT DELETE)~~~-->
  	<script type="text/javascript" src="//junction.niehs.nih.gov/resources/javascript/apps.onload.js" ></script>
</head>
</html>
