<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" lang="en">
<div class="navbar-collapse" th:fragment="topnav">

	<div class="datacommons_title">
	
		<div class="datacommons_title-left">
			<a href="#" class="datacommons_title-icon"><i th:class="${ topnavHeader.getIcon() }" aria-hidden="true"></i></a>
		</div>
		<div class="datacommons_title-mid">
			<div class="datacommons_title-breadcrum"><a href="/divisions/index.htm">Divisions</a> &nbsp;»&nbsp; <a
				th:href="@{ ${urlMap.URL_DASHBOARD} }"> <!-- href="/emc-metalnx-web/dashboard/" -->
				<span> Data Commons</span>
			</a> &nbsp;»&nbsp;</div>
			<div class="pull-left page-header">
				<h1 class="pull-left"
			th:text="#{ ${ topnavHeader.getName() } }"
			th:data-content="#{ ${ topnavHeader.getHint() } }"></h1>
		<!-- <a aria-label="page help" href="#" id="page-title" 
			data-trigger="focus"
			data-toggle="popover" th:title="#{ ${ topnavHeader.getName() } }"
			data-content="And here's some amazing content. It's very engaging. Right?"
			class="page-hint pull-left"> -->
			<a aria-label="page help" id="page-title" href="#"
		class="page-hint pull-left"><i class="fa fa-question-circle"></i></a>				
			</div>
		</div>
		<div class="datacommons_title-right">
			<ul class="datacommons_title-usermenu">
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"> <i class="fas fa-user-circle"></i> <span
						class="navbar-top-links-text"
						th:text="${userDetails.getUsername()}"></span> &nbsp; <i
						class="fa fa-caret-down white-icon"></i>
				</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a th:href="@{/preferences/}"><i
								class="fa fa-gear fa-fw"></i> <span
								th:text="#{user.preferences.label}"></span></a></li>
						<li class="divider"></li>
						<li><a href="#" data-toggle="modal" data-target="#aboutModal"><i
								class="fa fa-info-circle"></i> <span>About</span></a></li>
						<li class="divider"></li>
						<li><a th:href="@{/logout/}"><i class="fa fa-sign-out"></i>
								<span th:text="#{user.logout.label}"></span></a></li>
					</ul> <!-- /.dropdown-user --></li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<!-- Upload notifications panel -->
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/collection.js}"></script>
<script type="text/javascript" th:src="@{/js/mlxUpload.js}"></script>
<script type="text/javascript" th:src="@{/js/formValidator.js}"></script>
<script type="text/javascript" th:src="@{/js/filterTable.js}"></script>
<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
$(document).ready(function(){

	// Add popover on page title
    $('#page-title').popover({
		title:[[#{collections.management.page.title}]],
		content:[[#{collection.title.popover}]],
			trigger: 'hover click',
   		placement: 'left',
		});
})
/*]]>*/
</script>

</html>